<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yuna Apps</title>
  </head>
  <body>
    <header>
      <a href="#main" class="skip-link">Skip Content</a>
      <nav class="navbar">
        <div class="nav-brand">
          <h1>Yuna Restaurant</h1>
        </div>

        <button
          aria-label="Hamburger Menu"
          class="hamburger"
          id="hamburger"
          tabindex="0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-menu"
          >
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </button>

        <ul class="nav-menu">
          <li>
            <a href="index.html" class="active" width="44px" height="44px"
              >Home</a
            >
          </li>

          <li>
            <a href="#">Favorite</a>
          </li>

          <li>
            <a href="https://mahesa-portofolio.netlify.app/">About Us</a>
          </li>
        </ul>
      </nav>

      <nav class="nav-menuMobile" id="menuMobile">
        <ul class="nav-menu">
          <li>
            <a href="index.html" class="active">Home</a>
          </li>

          <li>
            <a href="#">Favorite</a>
          </li>

          <li>
            <a href="https://mahesa-portofolio.netlify.app/">About Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="main">
      <div class="hero">
        <div class="hero-body">
          <h1 class="hero-title">Yuna Restaurant App.</h1>

          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error
            tempore odio labore, reprehenderit quae
          </p>
        </div>
      </div>

      <div class="explore-restaurant">
        <h2>Explore Restaurant</h2>

        <div class="restaurant" id="restaurant-container">
          <!-- <article class="restaurant-item">
            <img src="./images/heros/hero-image_4.jpg" alt="Foto Restaurant" />

            <div class="restaurant-item-city">
              <div class="">
                <p class="city">city</p>
              </div>

              <div class="ratting">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-star"
                >
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  ></polygon>
                </svg>
                <p class="">4.6</p>
              </div>
            </div>

            <div class="restaurant-item-content">
              <h1>Restaurant name</h1>

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe,
                quasi autem. Quos assumenda eos id dolores molestias iure
                obcaecati inventore doloremque natus nesciunt rem aliquam,
                adipisci quaerat nemo officia dolorum autem, officiis ut hic
                harum quod ducimus magni. Maxime laudantium voluptatibus
                repellendus assumenda esse est rerum fugiat amet, atque fugit?
                Laborum iste nobis pariatur omnis architecto minus error tempora
                excepturi quisquam, enim ex praesentium totam magni soluta
                repellat non rerum rem, deleniti corporis eaque reprehenderit!
                Eius culpa cupiditate blanditiis earum? Hic, quos, porro iusto
                excepturi unde atque magni non a eaque eum omnis repellendus
                molestias odit quas asperiores dolorum quia. Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Tenetur sed cupiditate
                est exercitationem fugit itaque laudantium dolorem, iusto
                maxime, beatae autem maiores eligendi pariatur vero totam quae
                provident quidem repudiandae.
              </p>
            </div>
          </article> -->
        </div>
      </div>
    </main>

    <footer>“Copyright © 2024 - Yuna Restaurant Apps</footer>
  </body>
</html>
